.note-edit-bkg{
  background-image: url("../../../context/editnotebkg.webp");
  background-attachment: fixed;
  background-position: 100%;
  background-repeat: no-repeat;

  width: 100vw;
  height: 200vh;
  /* fix background fill !!!important */
  /* position: fixed; */
}
.notes-box{
    width: 17.5%;
    height: 100vh;
    background: #f5f8fb;
    padding: 20px 0px;
    position: fixed;
    margin-left: 15%;
    overflow-y: auto;
    opacity:90%;
  }
  
.notes-box-top {
    height: 12%;
    border-bottom: black solid 1px;
} 

#openbook-icon{
    padding-right: 4%;
    padding-left: 3%;
}

.notes-box-name{
    font-size: 18px;
    padding: 2%;
    margin-left: 2%;
}

.notes-box-number{
    /* font-size: 17px;*/
    padding: 2%; 
    margin-left: 5%;
    margin-bottom: 3%; 
    position: fixed;
}

.note-ele{
    display: flex;
    flex-direction: column;
    height: 14%;
    letter-spacing: 1px;
    box-sizing: border-box;
    border-bottom: 1px solid #9e99b9;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    border-top: 1px solid rgba(255,255,255,0.2);
    opacity: 80%;
    color: #1f2022;
  }

  .note-ele:hover{ 
    opacity: 100%;
    background: #f8fcff;
    color: #141516;
  }

  .note-title{
    color: #141516;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom:-2%;
    font-size: 15px;
  }

  .note-content-preview{
    color: #141516;
    padding: 4%;
    margin: 4%;
    font-size: 12.5px;
    text-overflow: ellipsis;
  }

  .notes-box-new{
    float: right;
    margin-right: 2%;
  }

  .note-box-end{
    padding-left:26%;
    padding-top: 15%;
    padding-bottom: 15%;
    color: #8b9197;
  }

  .empty-graphic{
    margin-left: 60px;
    margin-bottom: 20px;
  }

  .fa-paper-plane{
    padding-left: 2%;
  }

  /* Nav stuff */

  .profile-button{
    display:inline-block;
    padding: 2px;
    margin: 2%;
    margin-left: -4%;
  }

  .profile-icon{
    font-size: 20px;
    color: #acc7ca;
    padding-bottom: 10px;
    display:inline-block;
    margin-top: -8px;
    margin-bottom: 10px;
  }

  .navigation .navigation-side h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navigation .navigation-side ul li{
    padding: 18px;
    margin-left: -14%;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    

  .navitem{
    color: #acc7ca;
    display: block;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }

  .NavNotebookContainer{
    margin: -5%;
  }

  .navNotebooks{
    color: #acc7ca;
    padding-top: 8px;
    margin: 2px;
  }

  .navNotebooks:hover{
    color: #fff;
  }

  .navTags{
    color: #acc7ca;
    padding-top: 10px;
  }

  .navTags:hover{
    color: #fff;
  }

  .navitem .fas{
    width: 25px;
    padding-right: 0rem;
    margin-left: 8px;
  }
  
  .navigation .navigation-side ul li:hover{
    background-color: #00313f;
  }
      
  .navigation .navigation-side ul li:hover a{
    color: #fff;
  }

  .note-page{
    margin-left: 800px;
  }

  .notebook-delete{
    position: absolute;
    margin-right: 10px;
    right: .1%;
    top: 7%;
    background-color: #2e9caa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .delete-nb-message{
    margin-left: 85px;
  }
  .notebook-modal-delete{
    background-color: #2e9caa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    margin-left: -150px;
    margin-top: 10px;
  }

  .trash-note-delete{
    position: absolute;
    margin-right: 10px;
    right: .1%;
    top: 7%;
    background-color: #d6b09b;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
  }

  .trash-note-restore{
    position: absolute;
    margin-right: 150px;
    right: .1%;
    top: 7%;
    background-color: #2e9caa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }

  .notebook-delete:hover{
    background-color: #057785;
  }

  .trash-note-restore:hover{
    opacity: 100%;
  }

  .trash-note-delete:hover{
    background-color: #d4a394;
    opacity: 100%;
  }

  .notes-box-number-buttons{
    margin-left: 6%;
    /* margin-right: 3%; */
    margin-top: 3%;
  }

  .notebook-newnote{
    margin-top: 5%;
    margin-right: 2%;
    background-color: #2e9caa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
    border: 2px #057785;
  }

  .notebook-newnote-notepage{
    margin-top: 5%;
    margin-left: 48%;
    background-color: #2e9caa;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
    border: 2px #057785;
  }

  .notebook-newnote:hover{
    background-color: #057785;
  }

  .del-nb-button{
    margin-left: 35%;
    margin-top: 5%;
    margin-right: 2%;
    background-color: #d2997b;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
  }

  .del-nb-button:hover{
    background-color: #cc6c6c;;
  }


  .trash-all{
    margin-left: 43%;
    margin-top: 5%;
    background-color: #d6b09b;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 12px;
    transition: 0.3s;
    opacity: 80%;
    display: inline-block;
    text-decoration: none;
  }

  .trash-all:hover{
    background-color: #cd8d83;
    opacity: 100%;
  }


  .title-textarea{
    position: relative;
    font-size: 38px;
    margin-top: 8%;
    margin-left: 16%;
    padding-left: 2%;
    padding-bottom: 2%;
    width: 66.2%;
    height: 53.2px;
    background: transparent; 
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #00313f solid .5px;
    resize: none;
  }

  .title-textarea:focus{
    outline:none;
    border-bottom: #00313f solid .8px;
  }

  .text-editor{
    font-size:20px;
    height: 80%;
    width: 96%;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    resize: none;
    min-height: 52vh;
  }

  .note-page{
    margin-left: 35%;
    width: auto;
    height: auto;
  }

  .ql-container ql-snow{
    height: 100vh;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: #dddddd;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(245, 245, 245);
    background: linear-gradient(
      0deg,
      rgb(187, 226, 226) 0%,
      rgb(97, 185, 193) 57%,
      rgb(187, 226, 226) 100%
    );
    border-radius: 2.5px;
  }

  .undefined-graphic{
    position: relative;
    height: 100vh;
    /* border: solid black 1px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .undefined-dolphin{
    width: 17%;
    transform: rotate(30deg);
    position: absolute;
    margin-bottom: 27%;
    margin-right: 5%;
  }

  .undefined-text{
    position: absolute;
    font-weight: 100;
    margin-bottom: 9%;
  }

  .undefined-wave{
    width: 25%;
    height:auto;
    margin-right: 4%;
    margin-top: 16%;
    z-index: -1;
    position: absolute;
    transform: rotate(3deg);
  }

  .undefined-splash{
    width: 75%;
    height:auto;
    opacity:60%;
    left: 10%;
    position: absolute;
    z-index: -2;
    transform: rotate(180deg);
  }

  .note-edit-box{
    width: 65%;
    margin-left: 16.5%;
  }

  #toolbar{
    position: relative;
  }