@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300&display=swap');

body{
  font-family: 'Joan', serif;
  height: 1500px;
  background: #ffffff !important;
  /* #e8ebf0 */
  /*ꕀ ꕀ ꕀ ꕀ*/
}
.splash-container {
    width: 80%;
    margin: 0 auto;
}

.splash-header {
    font-size: 24px;
    width: 100%;
    height: 100px;
    background: white;
    position: fixed;
    text-align: center;
    line-height: 50px;
    top: 0;
    left: 0;
    transition: all 0.15s linear;
}

.splash-header.active {
     box-shadow: 0 0 15px rgba(0,0,0,0.4);   
}

#splashLogo{
    width: 80px;
    height: 80px;
    padding-top: 10px;
    float: left;
}

.splash-header h1 {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 1px;
    line-height: 50px;
    float: left;
    padding-left: 25px;
    color: #014b56;
}
.splash-header nav {
    float: right;
    padding-right: 35px;
    line-height: 50px;
}
.splash-header nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
.splash-header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #014b56;
}
.splash-header nav ul li a:hover {
    color: #057785;
    transition: 200ms;
}
.splash-header.shadow {
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.splashContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 7rem;
    padding: 2rem;
  }
  
  .splashTitle {
    font-size: 60px;
    line-height: 40px;
    font-weight: 100;
    letter-spacing: .5px;
    color: #014b56;
  }
  
  .splashSubtitle {
    margin: auto;
    text-align: center;
    font-weight: 100;
    letter-spacing: .5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #057785;
  }

  .splashPicText {
    margin: auto;
    text-align: left;
    font-weight: 50;
    letter-spacing: .5px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #057785;
  }