*{
    text-decoration: none;
    list-style: none;
    font-family: 'Joan', serif;
    transition: 0.2s;
    letter-spacing: .8px;
}

.navigation{
    display: flex;
    position: absolute;
    box-sizing: border-box;
    opacity: 100%;
  }

  .navigation-top{
    display: flex;
    justify-content: center;
  }

  .profile-button{
    display:inline-block;
    padding: 2px;
    margin: 2%;
    margin-left: -4%;
  }

  .profile-icon{
    font-size: 20px;
    color: #acc7ca;
    padding-bottom: 10px;
    display:inline-block;
    margin-top: -8px;
    margin-bottom: 10px;
  }
  .navigation .navigation-side{
    width: 17%;
    height: 100%;
    background: #003e4d;
    padding: 30px 0px;
    position: fixed;
    margin-left: -1%;
  }
  
  .navigation .navigation-side h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .navigation .navigation-side ul li{
    padding: 18px;
    margin-left: -14%;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .navitem{
    color: #acc7ca;
    display: block;
    cursor: pointer;
    list-style: none;
    text-decoration: none;
  }

  .navitembot{
    margin-bottom: 0%;
  }

  .fa-chevron-circle-left{
    width: 25px;
    color: #acc7ca;
    margin-left: 70%;
    margin-top: -6.5%;
    position: absolute;
  }

  .fa-chevron-circle-left:hover{
    width: 25px;
    color: #fff;
    margin-left: 70%;
    margin-top: -6.5%;
    position: absolute;
    transition: 200ms;
  }
  
  .fa-chevron-circle-left::before {
    transition: transform .2s ease;
    transform: rotate(0);
  }
  
  .rotate.fa-chevron-circle-left::after {
    transition: transform .2s ease;
    transform: rotate(90deg);
  }

  .NavNotebookContainer{
    margin: -10%;
  }

  .navNotebooks{
    color: #acc7ca;
    padding-top: 8px;
  }

  .navNotebooks:hover{
    color: #fff;
  }

  .fa-book{
    padding-right: 8px;
  }

  /* Button for new nb */
  .fa-plus-circle{
    color: #acc7ca;
  }

  .new-nb-button{
    background-color: transparent;
    font-family: 'Joan', serif;
    border-radius: 2px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: lighter;
    opacity: 0.8;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    width: 60%;
  }
  
  .new-nb-button:hover {opacity: 1}

  /* Modal for new nb */

  .new-nb-container{
    margin: 30px;
    width: 450px;
    display: flexbox;
    justify-content: center;
  }

  .new-nb-title{
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
  }

  .new-nb-errors{
    font-size: 15px;
    margin-left: 5%;
  }

  .nb-title-input{
    margin-left: 14%;
    width: 70%;
    height: 30px;
    font-size: 20px;
    margin-bottom: 2%;
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: #00313f solid .5px;
  }

  .nb-title-input:focus{
    outline:none;
    border-bottom: #00313f solid .8px;
  }

  .new-nb-buttons{
    align-items: center;
    margin-top: 3%;
    margin-left: 70%;
  }

  .navTags{
    color: #acc7ca;
    padding-top: 10px;
  }

  .navTags:hover{
    color: #fff;
  }

  .navitem .fas{
    width: 25px;
    padding-right: 0rem;
    margin-left: 8px;
  }
  
  .navigation .navigation-side ul li:hover{
    background-color: #00313f;
  }
      
  .navigation .navigation-side ul li:hover a{
    color: #fff;
  }
   
  .navigation .navigation-side .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .navigation .navigation-side .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .navigation .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .navigation .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .navigation .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .navigation .main_content .info div{
    margin-bottom: 20px;
  }

  
  @media (max-height: 500px){
    .social_media{
      display: none !important;
    }
  }